@charset "UTF-8";

*{
    margin:0px;
    padding: 0px;
    
}
body{
    background-image: url('images/Background.jpg');
}
header{

    border-bottom: 2px solid rgba(0, 0, 0, 0.35);

}

.menu{
  max-width: 960px;
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a{

  color: white;
}

.menu-logo img{
  padding-left: 46px;
}

nav ul{

  display: flex;
  flex-wrap: wrap;
}


header nav a{

  font-size: 1.5em;
  display: block;
  padding: 10px;
  border-radius: 10px;
}
header nav a:hover{
   background-color: gray;
}

.menu li{
  justify-content: space-around;

}


a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul{
  list-style: none
}

/*##############IMAGENS##############*/

#container{
  display: flex;
}

h1{
    padding: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.img_carros{

  display: flex;

  flex-wrap: wrap;

  list-style: none;
}


.img_carros li{
  
  background-color: rgb(255, 255, 255);

  margin: 30px;
  border: 1px solid white;
  border-radius: 10px;

}

.img_carros p{
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.carros{
  border-radius: 10px 10px 0px 0px;
  width: 150px;
}

aside ul{
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  font-size: 19px;
  margin-right: 30px;
  padding-left: 10px;
  line-height: 50px;
}

 /*##############RANKS###############*/

.ranks li{
  margin: 40px;
  padding-right: 15px;
  padding-left: 15px;
}
.ranks_supeiores{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;

}
.ranks_inferiores{
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  margin: 40px;
}


h2{
  font-size: 2em;

  padding: 80px;

  color: rgb(255, 255, 255);

  text-align: center;
}

footer{
  

  margin-top: 20px;
  padding: 10px;
  background-color: #242020;
  color: white;

}

footer p{
  color: lightgray;
}

.redes_sociais{
  display: flex;
  justify-content: center;
}

h3{
  color: lightgray;
  text-align: center;
  padding: 20px 10px;
}

 /*background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 1px 1px 130px 1px*/
  /**/